<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phlink.bus.api.alarm.dao.AlarmBusMapper">

    <select id="listBusCode" resultType="com.phlink.bus.api.alarm.domain.CodeRule">
        select t.bus_code as code, tr.id
        from t_bus t
                 left join t_route r on t.id = r.bus_id
                 left join t_alarm_route_rules tr on tr.route_id = r.id
        where t.deleted = false
          and r.deleted = false
          and tr.deleted = false
    </select>
    <select id="listAlarmBuss" resultType="com.phlink.bus.api.alarm.domain.AlarmBus">
        select t.*, b.id as bus_id
        from t_alarm_bus t
        left join t_bus b on t.bus_code = b.bus_code
        where t.deleted=false and b.deleted = false
        <if test="alarmBusVO.busCode!=null and alarmBusVO.busCode!=''">
            and t.bus_code like concat('%', #{alarmBusVO.busCode},'%')
        </if>
        <if test="alarmBusVO.alarmType!=null">
            and t.alarm_type=#{alarmBusVO.alarmType}
        </if>
        <if test="alarmBusVO.alarmSubType!=null">
            and t.alarm_sub_type=#{alarmBusVO.alarmSubType}
        </if>
        <if test="alarmBusVO.alarmLevel!=null">
            and t.alarm_level=#{alarmBusVO.alarmLevel}
        </if>
        <if test="alarmBusVO.status!=null">
            and t.status=#{alarmBusVO.status}
        </if>
        <if test="alarmBusVO.numberPlate!=null and alarmBusVO.numberPlate!=''">
            and t.number_plate like concat('%',#{alarmBusVO.numberPlate},'%')
        </if>
        <if test="alarmBusVO.startDate!=null">
            and t.create_time &gt;= #{alarmBusVO.startDate}::date
        </if>
        <if test="alarmBusVO.endDate!=null">
            and t.create_time &lt;= (#{alarmBusVO.endDate}::date + '1 day'::interval)
        </if>
        order by t.id desc
    </select>
    <select id="getLastAlarmInfo" resultType="com.phlink.bus.api.alarm.domain.AlarmBus">
        select *
        from t_alarm_bus t
        where t.bus_code = #{busCode} and t.alarm_sub_type = #{subType} and t.deleted = false
        order by t.id desc
        limit 1
    </select>
</mapper>
