<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phlink.bus.api.alarm.dao.AlarmMapper">
    <select id="listAlarm" resultType="com.phlink.bus.api.alarm.domain.AlarmVO">
        select b.id       as id,
               b.bus_code as entityName,
               b.alarm_type,
               b.alarm_sub_type,
               b.alarm_level,
               b.status,
               b.create_time,
               '1'        as entityType
--                b.alarm_detail
        from t_alarm_bus b
        where b.status = '0'
          and b.alarm_level in ('2', '3')
        union all
        select d.id          as id,
               d.device_code as entityName,
               d.alarm_type,
               d.alarm_sub_type,
               d.alarm_level,
               d.status,
               d.create_time,
               '1'           as entityType
--                d.alarm_detail ->> 'alarm_detail' as alarm_detail
        from t_alarm_device d
        where d.status = '0';
    </select>
    <select id="countAlarmGroupByLevel" resultType="com.phlink.bus.api.alarm.domain.vo.AlarmLevelCount">
        select t.level as level, sum(t.count) as count
        from (
        select b.alarm_level as level, count(1) as count
        from t_alarm_bus b
        where b.status = '0'
        group by b.alarm_level
        union
        select d.alarm_level as level, count(1) as count
        from t_alarm_device d
        where d.status = '0'
        group by d.alarm_level) t
        group by t.level
    </select>
    <select id="countTodayByTypeAndLevel" resultType="com.phlink.bus.api.alarm.domain.AlarmTypeStatistics">
        select v.alarm_type,
               json_build_object('1', (select coalesce(sum(v1.count), 0)
                                       from v_alarm_statistic v1
                                       where v1.alarm_type = v.alarm_type and v1.alarm_level = '1'),
                 '2', (select coalesce(sum(v2.count), 0)
                                       from v_alarm_statistic v2
                                       where v2.alarm_type = v.alarm_type and v2.alarm_level = '2'),
                 '3', (select coalesce(sum(v3.count), 0)
                                       from v_alarm_statistic v3
                                       where v3.alarm_type = v.alarm_type and v3.alarm_level = '3'),
                 '0', (select coalesce(sum(v4.count), 0)
                                       from v_alarm_statistic v4
                                       where v4.alarm_type = v.alarm_type and v4.alarm_level = '0')) as data
        from v_alarm_statistic v
        group by v.alarm_type

    </select>
    <select id="getTodayAllCount" resultType="java.lang.Integer">

        select sum(t.total)
        from (
               select count(1) as total
               from t_alarm_bus a
               where a.create_time::date = CURRENT_DATE and a.deleted = false
               union
               select count(1) as total
               from t_alarm_device a
               where a.create_time::date = CURRENT_DATE and a.deleted = false
             ) t
    </select>
    <select id="getTodayHandCount" resultType="java.lang.Integer">
        select sum(t.total)
        from (
               select count(1) as total
               from t_alarm_bus a
               where a.create_time::date = CURRENT_DATE
                    and a.status = '0' and a.deleted = false
               union
               select count(1) as total
               from t_alarm_device a
               where a.create_time::date = CURRENT_DATE
                    and a.status = '0' and a.deleted = false
             ) t



    </select>
    <select id="countAlarmBusGroupByLevelToday"
            resultType="com.phlink.bus.api.alarm.domain.vo.AlarmLevelCount">
        select t.alarm_level as level, count(1) as count
        from t_alarm_bus t
        where t.status = '0'
            and t.create_time &gt;= #{day}::date
            and t.create_time &lt;= (#{day}::date + '1 day'::interval)
        group by t.alarm_level
        order by t.alarm_level
    </select>
    <select id="countAlarmDeviceGroupByLevelToday"
            resultType="com.phlink.bus.api.alarm.domain.vo.AlarmLevelCount">
        select t.alarm_level as level, count(1) as count
        from t_alarm_device t
        where t.status = '0'
            and t.create_time &gt;= #{day}::date
            and t.create_time &lt;= (#{day}::date + '1 day'::interval)
        group by t.alarm_level
        order by t.alarm_level
    </select>
</mapper>

