<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phlink.bus.api.alarm.dao.AlarmRouteRulesMapper">

    <update id="switchAlarmRouteRules">
        update t_alarm_route_rules
        <trim prefix="set" suffixOverrides="," suffix="where id=#{routeSwitchVO.id}">
            <if test="routeSwitchVO.routeSwitch!=null">
                route_switch = #{routeSwitchVO.routeSwitch},
            </if>
            <if test="routeSwitchVO.stopSwitch!=null">
                stop_switch = #{routeSwitchVO.stopSwitch},
            </if>
            <if test="routeSwitchVO.weekendSwitch!=null">
                weekend_switch = #{routeSwitchVO.weekendSwitch},
            </if>
            <if test="routeSwitchVO.busSwitch!=null">
                bus_switch = #{routeSwitchVO.busSwitch},
            </if>
        </trim>
    </update>
    <update id="batchWeekendSwitch">
        update t_alarm_route_rules
        set weekend_switch = #{weekendSwitch}
    </update>
    <update id="batchInvalidDate">
        update t_alarm_route_rules
        set invalid_start_date = #{invalidDateVO.invalidStartDate},
            invalid_end_date   = #{invalidDateVO.invalidEndDate}
    </update>
    <select id="listBusCode" resultType="com.phlink.bus.api.alarm.domain.CodeRule">
        select t.bus_code as code, r.id
        from t_bus t
                 left join t_route tr on tr.bus_id = t.id
                 left join t_alarm_route_rules r on tr.id = r.route_id
        where t.deleted = false;
    </select>
    <select id="listAlarmRouteRules" resultType="com.phlink.bus.api.alarm.domain.AlarmRouteRules">
        select t.*,
        sc.school_name,
        f.fence_name,
        f.jobs,
        r.route_name,
        (select json_agg(json_build_object('start', v.start_time, 'end', v.end_time)) from v_route_time v where
        v.route_id = t.route_id group by v.route_id) effectiveTime
        FROM t_alarm_route_rules t
        LEFT JOIN t_route r ON r.id = t.route_id and r.deleted = false
        LEFT JOIN t_school sc ON sc.id = r.school_id and sc.deleted = false
        LEFT JOIN t_fence f ON r.id = f.relation_id and f.deleted = false
        where t.deleted = false
        <if test="alarmRouteRules.schoolName!=null and alarmRouteRules.schoolName!=''">
            and sc.school_name like CONCAT('%', #{alarmRouteRules.schoolName}, '%')
        </if>
        <if test="alarmRouteRules.routeName!=null and alarmRouteRules.routeName!=''">
            and r.route_name like CONCAT('%', #{alarmRouteRules.routeName}, '%')
        </if>
    </select>
    <select id="getByBusCode" resultType="com.phlink.bus.api.alarm.domain.AlarmRouteRules">
        select *
        from t_alarm_route_rules t
        where t.route_id = any (select v.route_id from v_bindbus_detail_info v where v.bus_code = #{busCode})
          and t.deleted = false
    </select>
</mapper>
