<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phlink.bus.api.alarm.dao.AlarmDeviceMapper">

    <select id="listAlarmDevices" resultType="com.phlink.bus.api.alarm.domain.AlarmDevice">
        select distinct
        t.*,
        s.name as studentName,
        sc.school_name,
        s.id studentId
        from t_alarm_device t
        left join t_device_relation r on r.device_code = t.device_code and r.deleted = false
        left join t_student s on r.student_id = s.id and s.deleted = false
        left join t_school sc on s.school_id = sc.id and sc.deleted = false
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="alarmDeviceVO.studentName!=null and alarmDeviceVO.studentName!=''">
                and s.name like CONCAT('%',#{alarmDeviceVO.studentName},'%')
            </if>
            <if test="alarmDeviceVO.schoolName!=null and alarmDeviceVO.schoolName!=''">
                and sc.school_name like CONCAT('%',#{alarmDeviceVO.schoolName},'%')
            </if>
            <if test="alarmDeviceVO.deviceCode!=null and alarmDeviceVO.deviceCode!=''">
                and t.device_code like CONCAT('%',#{alarmDeviceVO.deviceCode},'%')
            </if>
            <if test="alarmDeviceVO.status!=null">
                and t.status=#{alarmDeviceVO.status}
            </if>
            <if test="alarmDeviceVO.alarmType!=null">
                and t.alarm_type=#{alarmDeviceVO.alarmType}
            </if>
            <if test="alarmDeviceVO.alarmSubType!=null">
                and t.alarm_sub_type=#{alarmDeviceVO.alarmSubType}
            </if>
            <if test="alarmDeviceVO.alarmLevel!=null">
                and t.alarm_level=#{alarmDeviceVO.alarmLevel}
            </if>
            <if test="alarmDeviceVO.startDate!=null">
                and t.create_time &gt;= #{alarmDeviceVO.startDate}::date
            </if>
            <if test="alarmDeviceVO.endDate!=null">
                and t.create_time &lt;= (#{alarmDeviceVO.endDate}::date + '1 day'::interval)
            </if>
        </trim>

    </select>
</mapper>
