<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phlink.bus.api.bus.dao.CheckoutMapper">
	<select id="listMorning" resultType="com.phlink.bus.api.bus.domain.VO.CheckoutSpecialVO">
		select *
		from v_checkout_morning v
		where 1=1
		<if test="vo.realname != null and vo.realname != ''">
			and v.realname like CONCAT('%', #{vo.realname}, '%')
		</if>
		<if test="vo.mobile != null and vo.mobile != ''">
			and v.mobile like CONCAT('%', #{vo.mobile}, '%')
		</if>
		<if test="vo.numberPlate != null and vo.numberPlate != ''">
			and v.number_plate like CONCAT('%', #{vo.numberPlate}, '%')
		</if>
		<if test="vo.dateStart != null and vo.dateStart != ''">
			and v.check_date &gt;= to_date(#{vo.dateStart},'yyyy-MM-dd')::timestamp
		</if>
		<if test="vo.dateEnd != null and vo.dateEnd != ''">
			and v.check_date &lt; to_date(#{vo.dateEnd}, 'YYYY-MM-DD')::timestamp + '1 day'
		</if>
		<if test="vo.rolename != null and vo.rolename != ''">
			and v.rolename = #{vo.rolename}
		</if>
		order by v.id desc
	</select>
	<select id="listEvening" resultType="com.phlink.bus.api.bus.domain.VO.CheckoutSpecialVO">
		select *
		from v_checkout_evening v
		where 1=1
		<if test="vo.realname != null and vo.realname != ''">
			and v.realname like CONCAT('%', #{vo.realname}, '%')
		</if>
		<if test="vo.mobile != null and vo.mobile != ''">
			and v.mobile like CONCAT('%', #{vo.mobile}, '%')
		</if>
		<if test="vo.numberPlate != null and vo.numberPlate != ''">
			and v.number_plate like CONCAT('%', #{vo.numberPlate}, '%')
		</if>
		<if test="vo.dateStart != null and vo.dateStart != ''">
			and v.check_date &gt;= #{vo.dateStart}::date
		</if>
		<if test="vo.dateEnd != null and vo.dateEnd != ''">
			and v.check_date &lt;= #{vo.dateEnd}::date
		</if>
		<if test="vo.rolename != null and vo.rolename != ''">
			and v.rolename = #{vo.rolename}
		</if>
		order by v.id desc
	</select>
</mapper>
