<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phlink.bus.api.bus.dao.DvrCameraConfigMapper">

    <select id="listDvrBusLocationInfo" resultType="com.phlink.bus.api.bus.domain.VO.DvrBusLocationInfoVO">
        select v.id as id,
               v.dvr_code as dvrCode,
               v.channel_code as channelCode,
               v.url as url,
               v.location_code as locationCode,
               v.bus_id as busId,
               v.location_desc as locationDesc,
               v.bus_code as busCode,
               v.number_plate as numberPlate,
               v.brand as brand,
               v.dvr_server_id as dvrServerId
        from v_dvr_bus_location_info as v
        where v.bus_id = #{busId}
        order by v.channel_code
    </select>
    <select id="getDvrBusLocationInfoByGuardian"
            resultType="com.phlink.bus.api.bus.domain.VO.DvrBusLocationInfoVO">
        select v.id as id,
               v.dvr_code as dvrCode,
               v.channel_code as channelCode,
               v.url as url,
               v.location_code as locationCode,
               v.bus_id as busId,
               v.location_desc as locationDesc,
               v.bus_code as busCode,
               v.number_plate as numberPlate,
               v.brand as brand,
               v.dvr_server_id as dvrServerId
        from v_dvr_bus_location_info as v
        where v.bus_id = #{busId} and v.guardian_open = true limit 1
    </select>
    <select id="getGuardianLocationConfig" resultType="com.phlink.bus.api.bus.domain.DvrCameraConfig">
        select *
        from t_dvr_camera_config c
        where c.location_code = (select l.location_code from t_camera_location l where l.guardian_open = true)
        and c.bus_id = #{busId}
        and c.deleted = false
        limit 1
    </select>
</mapper>
