<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phlink.bus.api.bus.dao.DvrMapper">

    <select id="getByStudentId" resultType="com.phlink.bus.api.bus.domain.Dvr">
        select d.*
        from t_dvr d
                    left join t_bus b on d.bus_id = b.id and b.deleted = false
                    left join t_route_operation ro on b.id = ro.bind_bus_id and ro.deleted = false
                    left join t_student s on s.route_operation_id = ro.id and s.deleted = false
        where s.id = #{studentId}
    </select>

</mapper>
