<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phlink.bus.api.bus.dao.TeacherCheckoutMapper">

	<select id="findIsCheckout" resultType="com.phlink.bus.api.bus.domain.TeacherCheckout">
		select id,
		user_id userId,
		user_name userName,
		mobile,
		create_time createTime,
		modify_time modifyTime,
		number_plate numberPlate
		from t_teacher_checkout
		where 1 = 1
		and user_id = #{userId}
		and time = CURRENT_DATE	
	</select>
	
		<select id="findIsCheckoutInTime" resultType="com.phlink.bus.api.bus.domain.TeacherCheckout">
		select id,
		user_id userId,
		user_name userName,
		mobile,
		create_time createTime,
		modify_time modifyTime,
		number_plate numberPlate
		from t_teacher_checkout
		where 1 = 1
		and user_id = #{userId}
		and time = #{time}
		limit 1
	</select>

</mapper>
