<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phlink.bus.api.fence.dao.FenceTimeMapper">

    <delete id="deleteByFenceId">
        delete from t_fence_time where fence_id = #{fenceId}
    </delete>
</mapper>
