<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phlink.bus.api.route.dao.RouteMapper">

    <select id="listRoutes" resultType="com.phlink.bus.api.route.domain.Route">
        select distinct
        t.id,
        t.route_name,
        t.route_desc,
        t.create_time,
        t.create_by,
        t.modify_time,
        t.modify_by,
        t.deleted,
        t.school_id,
        t.bus_id,
        t.bus_teacher_id,
        t.route_type,
        t.driver_id,
        t.trajectory_id,
        t.outbound_time,
        s.school_name
        from t_route t
        left join t_school s on t.school_id=s.id and s.deleted = false
        left join t_stop st on t.id = st.route_id and st.deleted = false
        where t.deleted=false
        <if test="routeViewVO.schoolName!=null and routeViewVO.schoolName!=''">
            and s.school_name like CONCAT('%', #{routeViewVO.schoolName}, '%')
        </if>
        <if test="routeViewVO.stopName!=null and routeViewVO.stopName!=''">
            and st.stop_name like CONCAT('%', #{routeViewVO.stopName}, '%')
        </if>
        <if test="routeViewVO.routeId!=null">
            and t.id = #{routeViewVO.routeId}
        </if>
        <if test="routeViewVO.routeName!=null and routeViewVO.routeName!=''">
            and t.route_name like CONCAT('%', #{routeViewVO.routeName}, '%')
        </if>
    </select>

    <select id="findRouteByUserId" resultType="com.phlink.bus.api.route.domain.Route">
        select distinct
               t.id,
               t.route_name,
               t.route_desc,
               t.create_time,
               t.create_by,
               t.modify_time,
               t.modify_by,
               t.deleted,
               t.school_id,
               t.bus_id,
               t.bus_teacher_id,
               t.route_type,
               t.driver_id,
               t.trajectory_id,
               t.outbound_time
        from t_route t
                 left join t_route_operation ro on ro.route_id = t.id
    </select>
    <select id="listRouteBus" resultType="com.phlink.bus.api.route.domain.vo.RouteBusVO">
        select t.route_id as routeId,
                     b.bus_code
        from t_route_operation t
                     left join t_bus b on t.bind_bus_id = b.id and b.deleted = false
        where t.deleted = false
    </select>
    <select id="listUnbindFence" resultType="com.phlink.bus.api.route.domain.Route">
        select r.*
        from t_route r
        left join t_fence f on r.id = f.relation_id and f.deleted = false
        where r.deleted = false
        and f.id is null
        <if test="query != null and query != ''">
        and (r.route_name like CONCAT('%', #{query}, '%')
            or r.id =any (select v.route_id from v_bindbus_detail_info v where v.number_plate like CONCAT('%', #{query}, '%')))
        </if>
        order by r.id desc
    </select>
</mapper>
