<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phlink.bus.api.route.dao.StopTimeMapper">

    <select id="listTripStopTimeListVO" resultType="com.phlink.bus.api.route.domain.vo.TripStopTimeListVO">
        select t.id                                                 as tripId,
        t.route_id                                           as routeId,
        t.direction_id                                       as directionId,
        t.trip_time                                          as tripTime,
        COALESCE(json_agg(
        json_build_object('id', t1.id, 'stopId', t1.stop_id, 'arrivalTime', t1.arrival_time, 'stopSequence',
        t1.stop_sequence, 'stopName', t2.stop_name) ORDER BY ('stopSequence'))
        FILTER (WHERE t1.id IS NOT NULL and t2.id is not null), '[]') AS stopTimes
        from t_trip t
        left join t_stop_time t1 on t.id = t1.trip_id and t1.deleted = false
        left join t_stop t2 on t1.stop_id = t2.id  and t2.deleted = false
        left join t_route t3 on t.route_id = t3.id and t3.deleted = false
        left join t_route_operation t4 on t4.route_id = t3.id and t4.deleted = false
        where t.deleted = false
            <if test="routeId != null">
                and t.route_id = #{routeId}
            </if>
            <if test="busTeacherId != null">
                and t4.bind_bus_teacher_id = #{busTeacherId}
            </if>
        group by t.id
    </select>
    <select id="getStopTimeByFenceId" resultType="com.phlink.bus.api.route.domain.StopTime">
        select t.id,
               stop_id,
               arrival_time,
               departure_time,
               stop_sequence,
               create_time,
               create_by,
               modify_time,
               modify_by,
               deleted,
               trip_id
        from t_stop_time t
        where t.deleted = false
          and t.stop_id = (
            select f.relation_id
            from t_fence f
            where f.deleted = false
              and f.relation_type = '3'
              and f.fence_id = #{stopFenceId})
    </select>
    <select id="getFirstStopOnTrip" resultType="com.phlink.bus.api.route.domain.StopTime">
        select st.*, s.stop_name
        from t_stop_time st
                    left join t_stop s on st.stop_id = s.id and s.deleted = false
                    left join t_trip t on t.id = st.trip_id and t.deleted = false
        where st.deleted = false
          and t.id = #{tripId}
        order by st.stop_sequence * t.direction_id
        limit 1
    </select>
    <select id="getNextStopTime" resultType="com.phlink.bus.api.route.domain.StopTime">
        select st.*, s.stop_name
        from t_stop_time st
                    left join t_stop s on st.stop_id = s.id and s.deleted = false
                    left join t_trip t on t.id = st.trip_id and t.deleted = false
                    left join t_student stu on s.id = stu.stop_id and stu.deleted = false
        where st.deleted = false
          and stu.id is not null
          and t.id = #{tripId}
          and st.stop_sequence * t.direction_id > (select st1.stop_sequence * t.direction_id from t_stop_time st1 where st1.stop_id = #{stopId} and st1.trip_id = #{tripId})
        order by st.stop_sequence * t.direction_id
        limit 1

    </select>
</mapper>
