<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phlink.bus.api.route.dao.StopMapper">

    <select id="listUnbindFenceStopInfo" resultType="com.phlink.bus.api.route.domain.vo.FenceStopVO">
        select t.id, concat(tr.route_name, '-', t.stop_name) as fenceName, concat(t.stop_lon, ',', t.stop_lat) as center
        from t_stop t
        left join t_route tr on t.route_id = tr.id
        left join t_fence f on tr.id = f.relation_id and f.deleted = false
        where t.deleted = false
        and tr.deleted = false
        and f.id is null
        <if test="routeId!=null">
            and t.route_id=#{routeId}
        </if>
    </select>
    
    <select id="getLastStopByUserId" resultType="com.phlink.bus.api.route.domain.Stop">
    	select
    	s.id,
    	s.stop_name stopName
    	from t_stop s
    	left join t_route r on r.id = s.route_id
    	left join t_route_operation ro on ro.route_id = s.route_id and ro.route_id = r.id
    	where 1 = 1 
    	and ro.bind_bus_teacher_id = #{userId}  
    	order by s.stop_sequence desc limit 1  
    </select>
    <select id="listStopByBindBus" resultType="com.phlink.bus.api.route.domain.Stop">
        select s.*
        from t_stop s
        left join t_route_operation ro on s.route_id = ro.route_id and ro.deleted = false
        where ro.bind_bus_id = #{busId} and s.deleted = false
        order by s.stop_sequence
    </select>
    <select id="listByRouteIds" resultType="com.phlink.bus.api.route.domain.Stop">
        select *
        from t_stop
        where deleted = false
        and route_id =any (#{routeIds}::bigint[])
    </select>
</mapper>
