<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phlink.bus.api.route.dao.StopAttendanceMapper">

	<select id="findIsAttendance" resultType="com.phlink.bus.api.route.domain.StopAttendance">
		select 
		id,
		student_id studentId,
		time,
		type,
		stop_id stopId,
		trip_id tripId,
		reason
		from t_stop_attendance
		where 1 = 1
		and student_id = #{studentId}
		and trip_id = #{tripId}
		and stop_id = #{stopId}
		and type = #{type}
		and time = CURRENT_DATE
	</select>
    <select id="getBusTripTimeByTime" resultType="com.phlink.bus.api.alarm.domain.BusTripTime">
		select *
		from v_route_time v
		where v.start_time &lt; #{time}
		and v.end_time &gt; #{time}
    	and v.route_id = (select s.route_id from t_stop s where s.id = #{stopId} and s.deleted = false)
	</select>
	<select id="getTodayLastAttendanceByTripAndBus" resultType="com.phlink.bus.api.route.domain.StopAttendance">
		select *
		from t_stop_attendance t
		where t.deleted = false
		and student_id = #{studentId}
		and t.trip_id = #{tripId}
		and t.bus_code = #{busCode}
		and time = CURRENT_DATE
		order by t.id desc
		limit 1
	</select>
</mapper>
