<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phlink.bus.api.route.dao.TripLogMapper">
    <update id="incrTripLogDownNumber">
		update t_trip_log
		set down_num = down_num + 1
		where id = #{tripLogId}
	</update>
	<update id="incrTripLogUpNumber">
		update t_trip_log
		set up_num = up_num + 1
		where id = #{tripLogId}
	</update>
	<select id="detailNowTripLog" resultType="com.phlink.bus.api.route.domain.TripLog">
		select *
		from t_trip_log
		where bus_teacher_id = #{busTeacherId}
		  and trip_time = #{tripTime}
		  and time = CURRENT_DATE
		  and deleted = false
		order by trip_begin_time
		limit 1
	</select>
	
	<select id="checkNowTripLog" resultType="com.phlink.bus.api.route.domain.TripLog">
		select *
		from t_trip_log
		where bus_teacher_id = #{busTeacherId}
		  and trip_time = #{tripTime}
		  <if test="state != null and state != ''">
		  and state = #{state}
		  </if>
		  and time = CURRENT_DATE
		  and deleted = false;
	</select>
    <select id="getByBusCode" resultType="com.phlink.bus.api.route.domain.TripLog">
		select *
		from t_trip_log l
		where l.deleted = false and l.bus_code = #{busCode}
		order by l.time desc limit 1
	</select>
	<select id="getByTripId" resultType="com.phlink.bus.api.route.domain.TripLog">
		select *
		from t_trip_log
		where bus_teacher_id = #{busTeacherId}
		  and trip_id = #{tripId}
		  and time = CURRENT_DATE
		  and deleted = false
		limit 1
	</select>
</mapper>
