<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phlink.bus.api.device.dao.DeviceRelationMapper">

    <select id="getByDeviceCode" resultType="com.phlink.bus.api.device.domain.DeviceRelation">
        select *
        from t_device_relation
        where device_code = #{deviceCode}
        and deleted = false
        limit 1
    </select>
</mapper>
