<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phlink.bus.api.serviceorg.dao.ClassesMapper">

    <select id="listGradeClassesCascade" resultType="java.lang.String">
        select json_agg(t.*) as result
        from (
                 select t.grade as grade, t.enroll_year as enrollYear, array_agg(t.class_level) as classLevel
                 from t_classes t
                 where t.school_id = #{schoolId}
                   and t.grade_pro &lt;= t.school_system
                   and t.deleted = false
                 group by t.school_id, t.grade, t.enroll_year
             ) as t
    </select>

    <select id="listClassess" resultType="com.phlink.bus.api.serviceorg.domain.Classes">
        select t.*,
            (select count(1)
            from t_student s
            where s.class_id = t.id and s.service_status = '1' and s.deleted = false) as studentNum,
            sc.school_name                                                             as school_name
        from t_classes t
            left join t_school sc on sc.id = t.school_id and sc.deleted = false
        where t.deleted = false
            and sc.id is not null
        <if test="classesViewVO.enrollYear!=null">
            and t.enroll_year=#{classesViewVO.enrollYear}
        </if>
        <if test="classesViewVO.gradePro!=null">
            and t.grade_pro=#{classesViewVO.gradePro}
        </if>
        <if test="classesViewVO.schoolId!=null">
            and t.school_id=#{classesViewVO.schoolId}
        </if>
    </select>
    <select id="getOne" resultType="com.phlink.bus.api.serviceorg.domain.Classes">
        select t.*
        from t_classes as t
        where t.class_level = #{classLevel} and t.grade = #{grade} and t.school_id = #{schoolId}
        limit 1
    </select>
</mapper>
