<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phlink.bus.api.serviceorg.dao.FamilyMapper">

    <select id="getByStudentAndMainGuardian" resultType="com.phlink.bus.api.serviceorg.domain.Family">
        select t.id                as id,
               t.guardian_ids      as guardianIds,
               t.children_ids      as childrenIds,
               t.main_guardian_id  as mainGuardianId,
               t.leave_permissions as leavePermissions
        from t_family t
        where #{studentId} = any (t.children_ids)
              and  #{guardianId} = any (t.guardian_ids)
              and deleted = false
        limit 1
    </select>
</mapper>
