<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phlink.bus.api.serviceorg.dao.GuardianMapper">

    <select id="myPageList" resultType="com.phlink.bus.api.serviceorg.domain.MyPageGuardian">
        select g.student_id        studentId,
               g.user_id           guardianId,
               g.leave_permissions leavePermissions,
               g.main_guardian     mainGuardian,
               u.username          username,
               u.avatar            avatar,
               u.mobile            mobile
        from t_guardian g
                 left join sys_user u on g.user_id = u.user_id
        where #{studentId} = ANY (g.student_id)
          and deleted = false
    </select>

    <select id="countCurrentGuardianNum" resultType="java.lang.Integer">
        select count(1)
        from t_guardian
        where #{studentId} = ANY (student_id)
          and main_guardian = false
          and deleted = false
    </select>

    <select id="findByUserId" resultType="java.lang.Integer">
        select count(1)
        from t_guardian
        where user_id = #{userId}
          and deleted = false
    </select>

    <select id="getGuardianDetail" resultType="com.phlink.bus.api.serviceorg.domain.Guardian">
        select s.user_id,
               s.realname as                                                        guardianName,
               s.status,
               s.mobile,
               g.main_guardian,
               g.relation,
               g.idcard,
               g.leave_permissions,
               (select count(1) from sys_login_log l where l.username = s.username) login_times
        from t_guardian g
                 left join sys_user s on g.id = s.user_id
        where #{studentId} = ANY (g.student_id)
    </select>

    <select id="getGuardianList" resultType="com.phlink.bus.api.serviceorg.domain.Guardian">
        select g.id, g.user_id, g.create_by, g.create_time, g.modify_by,
        g.deleted, g.relation,
        g.modify_time, s.idcard, g.student_id,s.realname as guardianName,s.mobile,s.status,t.lastLoginTime,
        (select count(1) from sys_login_log l where l.username = s.username) login_times,
        (case
        when (select count(1) from t_student s where g.user_id = s.main_guardian_id and s.id = #{studentId}) > 0 then true
        else false end ) as mainGuardian,
        (case
        when (select count(1) from t_student s where g.user_id = s.leave_guardian_id and s.id = #{studentId}) > 0 then true
        else false end) as leavePermissions
        from t_guardian g
        left join sys_user s on g.user_id=s.user_id
        left join (select max(login_time)as lastLoginTime,username from sys_login_log group by username) as t on
        t.username=s.username
        where 1=1 and g.deleted = false
        <if test="studentId!=null">
            and #{studentId}=ANY(g.student_id)
        </if>
        order by g.id
    </select>

    <select id="listOtherGuardian" resultType="com.phlink.bus.api.serviceorg.domain.Guardian">
        select g.id,
        g.user_id,
        g.leave_permissions,
        g.main_guardian,
        g.create_by,
        g.create_time,
        g.modify_by,
        g.deleted,
        g.relation,
        g.modify_time,
        g.idcard,
        g.student_id,
        s.realname as guardianName,
        s.mobile,
        s.status,
        s.ssex as guardianSex,
        t.lastLoginTime,
        (select count(1) from sys_login_log l where l.username = s.username) login_times
        from t_guardian g
        left join sys_user s on g.user_id=s.user_id
        left join (select max(login_time)as lastLoginTime,username from sys_login_log group by username) as t on
        t.username=s.username
        where g.deleted = false
        <if test="studentId!=null">
            and #{studentId} = any(g.student_id)
        </if>
        order by g.id
    </select>
    <select id="listByUserId" resultType="com.phlink.bus.api.serviceorg.domain.Guardian">
        select g.id,
        g.user_id,
        g.leave_permissions,
        g.main_guardian,
        g.create_by,
        g.create_time,
        g.modify_by,
        g.deleted,
        g.relation,
        g.modify_time,
        g.idcard,
        g.student_id,
        s.realname as guardianName,
        s.mobile,
        s.status,
        s.ssex as guardianSex,
        t.lastLoginTime,
        (select count(1) from sys_login_log l where l.username = s.username) login_times
        from t_guardian g
        left join sys_user s on g.user_id=s.user_id
        left join (select max(login_time)as lastLoginTime,username from sys_login_log group by username) as t on
        t.username=s.username
        where g.deleted = false
        <if test="userIds!=null">
            and g.user_id = any(#{userIds})
        </if>
        order by g.id
    </select>
    <select id="listOnRouteByWorkerId" resultType="com.phlink.bus.api.serviceorg.domain.Guardian">
        select g.*
        from t_guardian g
                    left join t_student s on s.main_guardian_id = g.user_id and s.deleted = false
                    left join t_route_operation ro on ro.deleted = false and ro.id = s.route_operation_id
        where g.deleted = false
        and (ro.bind_bus_teacher_id = #{busTeacherId} or ro.bind_driver_id = #{busTeacherId})
    </select>
</mapper>
