<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phlink.bus.api.serviceorg.dao.HomeworkStudentMapper">

<select id="queryHomework" resultType="com.phlink.bus.api.serviceorg.domain.HomeClassPage">
			select  s.Name studentName,
					hh.homework_status homeworkStatus,
					hh.img homeworkLink,
					hh.homework_Level homeworkLevel,
					hh.id ,
					concat(u.username,':',u.mobile) guardianName
			 from t_student s left join
			 	(select h.homework_status,h.stu_id ,h.img, h.id,h.homework_Level from
			 	t_homework_student h where h.homework_id = #{homeworkId}
			 	and h.create_by=#{userId} and h.homework_date=to_date(#{queryDate},'yyyy-MM-dd')
			 	)hh on  s.id = hh.stu_id
							  left join t_guardian g on s.id= g.student_id
							  left join sys_user u on g.user_id = u.user_id
			 where s.class_id =#{classId}	and s.deleted=false	
			 
		
		</select>
		
		
		<update id="updateHomeworkStudentById">
		 update t_homework_student set modify_by= #{userId},
		 	modify_time = #{modifyTime},
		 	<if test="homeworkLevel != null">
		 	homework_level =#{homeworkLevel},
		 	</if>
		 	<if test="img != null">
		 	img =#{img},
		 	</if>
		 	<if test="isDownload == false">
		 	is_download= true,
		 	</if>
		 	<if test="isViewedBool == false">
		 	is_viewed= true,
		 	</if>
		 	
		 	homework_status=#{homeworkStatus} 
		 	 where id =#{homeworkId}
		</update>
		
		<select id="querystudentHomeworkPage" resultType="com.phlink.bus.api.serviceorg.domain.HomeStudentPage">
			select   hs.homework_date homeworkDate,
					concat(h.homework_name,'.doc') homeworkName,
					hs.homework_status homeworkStatus,
					h.homework_link   homeworkLink,
					h.id homeworkId,
					hs.homework_level homeworkLevel,
					hs.stu_id studentId,
					hs.id id
			from t_homework_student hs left join t_homework h on hs.homework_id = h.id
			where hs.stu_id=#{studentId} 
			<if test="queryDate != null and !''.equals(queryDate)" >
			and hs.homework_date =to_date(#{queryDate},'yyyy-MM-dd')
			</if> 
			and hs.deleted=false	
			order by homeworkDate desc
		</select>
		
		<select id="findIsdownloadById" resultType="java.lang.Integer"> 
		select count(1) from t_homework_student t
		where t.stu_id =#{studentId} and t.homework_id=#{homeworkId} and t.deleted =false and t.is_download=true
		</select>
		
		<select id="findisViewedById" resultType="java.lang.Integer"> 
		select count(1) from t_homework_student t
		where t.stu_id =#{studentId} and t.homework_id=#{homeworkId} and t.deleted =false and t.is_viewed=true
		</select>
</mapper>
