<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phlink.bus.api.serviceorg.dao.SchoolMapper">

    <select id="listSchools" resultType="com.phlink.bus.api.serviceorg.domain.School">

        select t.*,
        (select count(1) from t_classes c where c.school_id = t.id and c.deleted = false) as classNumber,
        (select count(1)
        from t_student s
        where s.school_id = t.id
        and s.deleted = false
        and s.service_status = '1')                                                    as studentNumber,
        d.dept_name                                                                          deptName,
        case when count(f) > 0 then '1' else '0' end as fence_status,
        array_to_string(array_agg(f.id), ',') fence_id
        from t_school t
        left join sys_dept d on t.dept_id = d.dept_id
        left join t_fence f on f.relation_id = t.id and f.deleted = false
        where t.deleted = false
        <if test="schoolViewVO.province!=null and schoolViewVO.province!=''">
            and t.province=#{schoolViewVO.province}
        </if>
        <if test="schoolViewVO.city!=null and schoolViewVO.city!=''">
            and t.city=#{schoolViewVO.city}
        </if>
        <if test="schoolViewVO.fenceStatus != null and  schoolViewVO.fenceStatus.name == 'UNCONFIGURED'">
            and f.id is null
        </if>
        <if test="schoolViewVO.fenceStatus != null and  schoolViewVO.fenceStatus.name == 'CONFIGURED'">
            and f.id is not null
        </if>
        <if test="schoolViewVO.deptId!=null">
            and t.dept_id=#{schoolViewVO.deptId}
        </if>
        <if test="schoolViewVO.schoolName!=null and schoolViewVO.schoolName!=''">
            and t.school_name=#{schoolViewVO.schoolName}
        </if>
        group by t.id, d.dept_name
    </select>
</mapper>
